<ion-header>
  <ion-navbar color="primary">
    <ion-title align="center">SIGN IN HERE</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content fixed padding class="bg-full bg-hands">
  <!-- <div padding-top align="center">
    <h5 class="white-text">SIGN IN HERE</h5>
  </div> -->

    <form [formGroup]="login_form" (ngSubmit)="login($events)">
      <ion-list>
        <ion-item class="bg-transparent">
          <ion-label floating class="big-inputs gray-text">Email</ion-label>
          <ion-input type="email" name="email" formControlName="email" class="big-inputs white-text" required></ion-input>
        </ion-item>
        <control-messages [control]="login_form.controls.email"></control-messages>

        <ion-item class="bg-transparent">
          <ion-label floating class="big-inputs gray-text">Password</ion-label>
          <ion-input type="password" name="password" formControlName="password" class="big-inputs white-text" required></ion-input>
        </ion-item>
        <control-messages [control]="login_form.controls.password"></control-messages>

        <ion-item class="bg-transparent">
          <button type="submit" ion-button round block large color="primary" [disabled]="login_form.invalid">Login</button>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
