<ion-header>
  <ion-navbar>
    <ion-title>
      PROJECT PAGE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Add Project" [(ngModel)]="project"></ion-input>
    <button ion-button item-right (click)="addProject()" color="secondary">ADD</button>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-list-header class="home-header">
        <h1>PROJECTS</h1>
      </ion-list-header>

      <button ion-item *ngFor="let project of projectList; let idx = index">
          #{{idx + 1}}
        <div class="item-note" item-content>
          <b>{{ project.name }}</b>
        </div>
      </button>

    </ion-list>
  </ion-item>
</ion-content>
<ion-footer>
  <button class="logout-button" ion-button block full color="danger" (click)="logout()">Logout</button>
</ion-footer>